<section class="profile-page">
  <div class="profile-info">
    <h1>Welcome, {{user.username}}!</h1>
    <a class="new-button button" href="/product/new">Add New Product</a>
  </div>
  
  <div class="profile-products">
    <h1>View Your Listed Products</h1>
    {{#each allProductsFromDB}}
      <p>{{this.name}}</p>
      <img src="{{this.image}}" alt="">
      <p>{{this.description}}</p>
      <p>{{this.allergens}}</p>
      <a href="products/edit"><button>Edit</button></a>
      <a href="products/delete"><button>Delete</button></a>
    {{/each}}
  </div>
  

</section>





