<section id="profile-page">
  <section id="profile-info">
    <h1>RESTAURANT NAME</h1> 
    <a id="addItem-button" href="/add">Add Item</a>
  </section>
  
  <section id="your-items">
    <div class="item">
      <img src="../../public/images/alexandr-podvalny-221880-unsplash.jpg">
      <h3>RESTAURANT NAME</h3>
      <p>DELICIOUS FOOD</p>
      <p>8:00PM</p>

      <a href="">Edit</a>
      <a href="">Delete</a>
    </div>

    <div class="item">
      <img src="../../public/images/alexandr-podvalny-221880-unsplash.jpg">
      <h3>RESTAURANT NAME</h3>
      <p>DELICIOUS FOOD</p>
      <p>8:00PM</p>

      <a href="">Edit</a>
      <a href="">Delete</a>
    </div>

    <div class="item">
      <img src="../../public/images/alexandr-podvalny-221880-unsplash.jpg">
      <h3>RESTAURANT NAME</h3>
      <p>DELICIOUS FOOD</p>
      <p>8:00PM</p>

      <a href="">Edit</a>
      <a href="">Delete</a>
    </div>
    
  </section>
</section>

{{!-- <h1>{{provider.name}}</h1> --}}

{{!-- {{#each product}}
  <img src="{{this.image}}">
  <h3>{{this.restaurant}}</h3>
  <p>{{this.description}}</p>
  <p>{{this.pickupTime}}</p>
{{/each}} --}}
